{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "WriteBuckets",
            "Effect": "Allow",
            "Action": [
                "s3:AbortMultipartUpload",
                "s3:PutObject",
                "s3:PutObjectAcl"
            ],
            "Resource": [
                "arn:aws:s3:::${directory_path}",
                "arn:aws:s3:::${directory_path}/*"
            ]
        }
    ]
}
