${jsonencode({
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "oidc",
      "Effect": "Allow",
      "Principal": {
        "Federated": "${oidc_provider_arn}"
      },
      "Action": "sts:AssumeRoleWithWebIdentity",
      "Condition": {
        "ForAnyValue:StringEquals": {
          "${oidc_provider_url}:sub": [for service_account in service_account_names : "system:serviceaccount:${namespace}:${service_account}"]
        }
      }
    }
  ]
})}
